In [1]:
import pandas as pd
df = pd.read_excel(r'C:\Users\gabri\OneDrive\Documentos\Data Science Projects with Python\default_of_credit_card_clients__courseware_version_1_21_19.xls')

In [2]:
df.head()

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_1,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
0,798fc410-45c1,20000,2,2,1,24,2,2,-1,-1,...,0,0,0,0,689,0,0,0,0,1
1,8a8c8f3b-8eb4,120000,2,2,2,26,-1,2,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
2,85698822-43f5,90000,2,2,2,34,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
3,0737c11b-be42,50000,2,2,1,37,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0
4,3b7f77cc-dbc0,50000,1,2,1,57,-1,0,-1,0,...,20940,19146,19131,2000,36681,10000,9000,689,679,0

In [5]:
id_counts = df['ID'].value_counts()
id_counts

443324fb-5cfc    2
98b8a2ca-8988    2
ae6a7eed-bb58    2
3393c9e4-3345    2
6c0797cd-f663    2
                ..
b78d1a2b-6c7d    1
ad9be2b7-f4fd    1
2114e26a-fcc0    1
2f09b021-2aa5    1
6bd77906-d10e    1
Name: ID, Length: 29687, dtype: int64

In [10]:
dupe_mask = id_counts == 2
dupe_mask[0:5]

443324fb-5cfc    True
98b8a2ca-8988    True
ae6a7eed-bb58    True
3393c9e4-3345    True
6c0797cd-f663    True
Name: ID, dtype: bool

In [11]:
id_counts.index[0:5]

Index(['443324fb-5cfc', '98b8a2ca-8988', 'ae6a7eed-bb58', '3393c9e4-3345',
       '6c0797cd-f663'],
      dtype='object')

In [12]:
dupe_ids = id_counts.index[dupe_mask]

In [13]:
dupe_ids

Index(['443324fb-5cfc', '98b8a2ca-8988', 'ae6a7eed-bb58', '3393c9e4-3345',
       '6c0797cd-f663', '91c69d1a-8732', '7574bf9e-f3f9', '2a793ecf-05c6',
       '7fe414ae-32f8', 'd1808f44-48ce',
       ...
       '5edb4d2b-067c', '97d1d2eb-c72f', '6ff744d5-91f0', '05009844-7be8',
       'd5905747-8aef', '8b62a9c9-7b64', '25a28c93-508a', 'c8bb762f-3ef9',
       'bbffebbc-e3c4', 'ddcc7278-7017'],
      dtype='object', length=313)

In [14]:
dupe_ids = list(dupe_ids)
dupe_ids

['443324fb-5cfc',
 '98b8a2ca-8988',
 'ae6a7eed-bb58',
 '3393c9e4-3345',
 '6c0797cd-f663',
 '91c69d1a-8732',
 '7574bf9e-f3f9',
 '2a793ecf-05c6',
 '7fe414ae-32f8',
 'd1808f44-48ce',
 '63b20368-1a04',
 '8d3a2576-a958',
 '9611f432-7f70',
 '355fe35a-5db7',
 '7dbc4ebf-4b4f',
 '47d9ee33-0df0',
 'f0bb9e5a-eb11',
 'f0723a52-7018',
 'c361e43d-f1f4',
 '3327c2a8-3402',
 '06f377a6-ba7e',
 '6870544f-459e',
 '9929aa3b-d8f6',
 'bf23c70b-bf12',
 '379e0b03-4ca0',
 '45cceda0-6fb7',
 'ea8d41fd-b8a3',
 'c89b26ff-ec7f',
 '8f4a90bc-bbb0',
 'd2a47fa6-0f6a',
 '0d624cb8-e5f8',
 '28866128-6286',
 'f37328b4-7b3a',
 '84dc097a-dee3',
 'ad63957b-ea9a',
 'c69162db-4864',
 'b1c90397-5fb2',
 '5795a795-bfa0',
 '8a6bbf3d-8a2d',
 'edd737fd-5b07',
 'f6032812-464e',
 'fa286931-8ded',
 'a17f0f1f-d9f6',
 'dab579ee-1645',
 '27e04c06-487f',
 '71b26a8d-da70',
 '266c34a2-16c9',
 'e7f574b9-0581',
 'c84dd06b-71f5',
 'cb18af1f-3b53',
 '659da309-053c',
 '2ba2d987-103e',
 'cd944abe-cef9',
 '555a25cd-2d05',
 '26bde6da-f148',
 '0170086d-7472',
 '94d8b70f-361d',
 '2458b96d-e8f1',
 'd6697da8-74fc',
 '61ae560c-4479',
 'df3d13be-9c13',
 '0ad143f2-bd95',
 '63338f74-01be',
 '9c53fb07-9b73',
 '69566a6b-6156',
 '86477d4e-795e',
 'a9d910f4-fe9a',
 '2618fdc4-e731',
 '1fb3e3e6-a68d',
 '01355f46-3f0b',
 '0ab4e6e8-69e5',
 '4fcef74d-0b3d',
 '5f79f818-18af',
 'ab09b4b4-8331',
 'fd6033f4-cc72',
 '5f483bdb-3aaf',
 'f12b9d9e-ada0',
 '54ada30b-750f',
 'f0b963e7-4933',
 '9878723a-0b58',
 '73ea498f-44b2',
 '5718f600-12ac',
 'f31d1048-5fa9',
 '5f38afd8-e138',
 '56126c14-b5b8',
 'e850d228-6879',
 'f11c5e51-a535',
 '3fddeb07-b7f0',
 '80282ca6-96a6',
 '26d4a6eb-8abe',
 '297edb0f-3bb1',
 'ad23fe5c-7b09',
 'e7cd8c1a-88e9',
 'f20d8a3d-d047',
 'f56a0841-4328',
 '5ce60722-dbd1',
 'effb69b1-d4d8',
 '98395d08-9643',
 'f63d8fbe-d79e',
 '7b6e060a-97a0',
 'c9826d63-f7d3',
 '7d5f3242-e1df',
 '2a8ad33f-fa9c',
 '08425e64-bf76',
 '94e1b326-8c22',
 '93b2c5f7-acea',
 '5b8dce34-2ded',
 '59387843-6db1',
 '5deff6b6-62ff',
 '30729bb5-55d7',
 '94c4ece8-bba6',
 'ff8b7170-ce3a',
 '1d58344c-5793',
 '0a2d6db4-0c54',
 '9e6e766d-ba75',
 '73baf2c4-6e90',
 '0a37c2c7-6065',
 '40e75290-0f59',
 '16d73782-d5e6',
 'dd019fd7-f591',
 '428b26a3-dca2',
 'cfa9d026-de0d',
 '8567249b-827e',
 '91084359-8bd4',
 '168dcd08-0ed9',
 '310d5326-56c7',
 '733aa344-0dae',
 '062f1fe4-9a66',
 'f9d25524-9d69',
 '3fd4854f-8752',
 '7e7a4087-4def',
 '87dec940-75b7',
 '1512a948-a7e4',
 '77222291-e191',
 'ebda7f71-7024',
 '0724677e-ec01',
 'b44b81b2-7789',
 '327d06d5-ce7f',
 '1b22b0ab-aba3',
 '02e41927-a6df',
 '7b7cc3cd-0b76',
 'b6ca3733-7459',
 '841ae407-dc4c',
 '1bf3b4eb-d759',
 'a3e05a29-d6df',
 'feac3745-a2be',
 '83d174e1-5f9a',
 'f41bbcf7-5f86',
 'ffb9a143-c375',
 'e50d8395-da32',
 '060c8137-6a4e',
 '823267c1-561b',
 '0913d642-c5d4',
 'f7fe4368-18e7',
 'e8037410-5cd0',
 '415c344e-309f',
 '04299d54-61d4',
 '52bcd5ae-72d3',
 'c5368117-b498',
 'b3c9d09b-ed59',
 'bbf202ae-a964',
 '1c7af562-f271',
 '64fe3b96-7ed0',
 '3884eeca-7714',
 '998fa9b2-b341',
 '7c9b7473-cc2f',
 '4ae0efd7-2651',
 '4653bc48-0141',
 '37a1d9c2-701c',
 'e39d23fe-aa5f',
 'fc73f07e-eb96',
 'e77f7765-8731',
 '75938fec-e5ec',
 'b557f3c2-ebec',
 '999b7824-373c',
 '994330b6-eeec',
 'b87bf8f3-d704',
 'd9dafe9c-b497',
 'ad819541-5d3c',
 'a3a5c0fc-fdd6',
 'accba688-8ec1',
 '04c32736-903c',
 '3e60a98c-e520',
 'af1e3f79-f628',
 'b4937915-ad67',
 'ff6e1bd3-4e91',
 'f5e3478e-cf68',
 '9d3d2a55-dab6',
 '8f9549b7-d5a4',
 '0a5048ae-e120',
 'a51dbaae-d88b',
 '68ff6fcd-1d49',
 '4cb27699-fe3f',
 '9389d6e1-e1a7',
 'f9bcd13e-96bc',
 'ff619017-560f',
 '1a055566-c187',
 '9a75e346-c849',
 '2f4f4bc9-fd55',
 '590a776e-5049',
 'f86688f1-8742',
 '56945919-0933',
 '315e4f9d-2b0b',
 '3cd5c728-df14',
 '94d59251-fa7f',
 '20b16b21-8b23',
 '183f18d5-0b44',
 'bae9475e-7cad',
 '4f249cbc-5e9c',
 '0a2dceda-b597',
 'b46f955f-9e8a',
 'a9870d3e-b4d1',
 '693a0664-bde6',
 'ffa0f012-3bd7',
 '71b5009c-75c8',
 '4534975d-bf92',
 '5f463f95-a4ae',
 '9db1809e-845a',
 '72598524-ef0b',
 'd5aeb496-64e5',
 'b9591d1a-8480',
 'd50ebd87-8b6d',
 '7be61027-a493',
 'c5a658d0-92da',
 'e8bcb1bb-456e',
 '82da3aa5-97a6',
 'd13465a5-a9e0',
 '85bd7f39-2e9b',
 '51e5ff58-5a0f',
 'e4936e97-da48',
 '165206d2-50a5',
 '8d1b6de3-9795',
 '382b378c-6383',
 '3d61e71b-f65e',
 '16ee3668-0b5b',
 '9ac5d94f-ed71',
 '2a8713e6-0f03',
 '129c43ca-42ee',
 'a7e199e1-2c44',
 '249b09c0-f4c7',
 '33b2b726-61a8',
 'c3ddce11-35e2',
 '4a051fdc-d04c',
 '6d1fc219-67b0',
 '9e74795e-cb34',
 'e07a0034-42af',
 '62608fd2-d7fb',
 '4e2380e6-a8cf',
 '75bdf204-83c2',
 '4f95b36b-ab10',
 'af052d9b-f06b',
 '4dc45e9a-27bd',
 'db903e22-a55a',
 '31d0095f-75bc',
 '4cf8397f-6359',
 '42009c72-651f',
 '369e565a-26a1',
 '3367c92b-b1ca',
 '37499e8b-ac16',
 'a9ce8636-9a88',
 'a53a8d32-2c61',
 'dbf9fb14-2656',
 'dda76366-a407',
 '775d61d0-4715',
 '89f8f447-fca8',
 '62b1d551-2414',
 '96970f37-abaa',
 'e3035b40-0c02',
 '6353fd55-d66e',
 'db91a87c-3cbe',
 '0d66d575-c461',
 '0a8272b2-78aa',
 '90f662f9-c1e3',
 'ca3910f2-92ca',
 'e8ee55be-0a11',
 '91321f74-e4a4',
 '424e8a3c-0377',
 'e668604e-21f6',
 '97f74dea-338e',
 '73ed1381-3a3f',
 '15edb406-305b',
 '3511ed92-c434',
 '3d832783-1571',
 'af9f7f07-e228',
 'c3ae3600-3837',
 '214fc1ca-b25a',
 'b74033dc-6e45',
 '956cbf4a-d24e',
 'a7559852-f405',
 'adeed333-dbfd',
 '3cfed539-ad58',
 '90330d02-82d9',
 '742d1d93-0d3b',
 '89d3cebd-346f',
 'ac821a7b-b399',
 '527c11ea-113e',
 'ef889a72-06f5',
 '20050b52-5d6e',
 '2189fc56-f82a',
 'cdae2be5-8ec4',
 '33bf169b-258a',
 '634d5510-7240',
 'bdb3b33c-83a9',
 '5edb4d2b-067c',
 '97d1d2eb-c72f',
 '6ff744d5-91f0',
 '05009844-7be8',
 'd5905747-8aef',
 '8b62a9c9-7b64',
 '25a28c93-508a',
 'c8bb762f-3ef9',
 'bbffebbc-e3c4',
 'ddcc7278-7017']

In [15]:
len(dupe_ids)

313

In [16]:
dupe_ids.head()

AttributeError: 'list' object has no attribute 'head'

In [17]:
dupe_ids[0:5]

['443324fb-5cfc',
 '98b8a2ca-8988',
 'ae6a7eed-bb58',
 '3393c9e4-3345',
 '6c0797cd-f663']

In [19]:
df.loc[df['ID'].isin(dupe_ids[0:3]),:]

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_1,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
5488,98b8a2ca-8988,140000,1,3,2,23,-1,-1,-1,-1,...,1434,1309,540,390,390,1434,1309,540,540,0
5588,98b8a2ca-8988,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11731,ae6a7eed-bb58,20000,1,2,1,51,0,0,0,0,...,18235,16259,10640,1355,1136,646,381,337,1251,0
11831,ae6a7eed-bb58,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19575,443324fb-5cfc,210000,2,1,1,31,0,0,0,0,...,119579,120318,107122,7505,7072,4009,8000,10000,12000,0
19675,443324fb-5cfc,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [20]:
df_zero_mask = df == 0

In [21]:
df_zero_mask

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_1,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
0,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,False,True,True,True,True,False
1,False,False,False,False,False,False,False,False,True,True,...,False,False,False,True,False,False,False,True,False,False
2,False,False,False,False,False,False,True,True,True,True,...,False,False,False,False,False,False,False,False,False,True
3,False,False,False,False,False,False,True,True,True,True,...,False,False,False,False,False,False,False,False,False,True
4,False,False,False,False,False,False,False,True,False,True,...,False,False,False,False,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,False,False,False,False,False,False,True,True,True,True,...,False,False,False,False,False,False,False,False,False,True
29996,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,True,True,True
29997,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,True,False,False,False,False,False
29998,False,False,False,False,False,False,False,False,True,True,...,False,False,False,False,False,False,False,False,False,False
29999,False,False,False,False,False,False,True,True,True,True,...,False,False,False,False,False,False,False,False,False,False